.section {
    padding-top: 30px;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
}
.moviesWrapper{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 24px;
}
.moviesWrapper.allMoviesWrapper{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 24px;
}