.castItem{
    text-align: center;
    padding-bottom: 20px;
}
.movieImgWrapper{
    /*width: 160px;*/
    height: 160px;
}
.movieImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}