.searchPage{

}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 80px;
    flex-direction: column;
}
.movieContainer{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 24px;
}
.item{
    display: inline-block;
    background: #000;
}
.movieImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.paginationBtn{
    padding: 10px 27px;
    border: none;
    background: #061660;
    color: #ffffff;
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;
}
.paginationBtn[disabled]{
    background: #3049be;
    cursor: not-allowed;
}