.popularSection {
    padding: 30px 0;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.popularMoviesWrapper{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 24px;
}
.movie{
    border-radius: 3px;
    overflow: hidden;
    text-decoration: none;
    color: #06121e;
}
.movie img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}