.skeletonCard {
    width: 100%;
    aspect-ratio: 2 / 3;
    border-radius: 8px;

    background: linear-gradient(
            90deg,
            #de1111 25%,
            #1fb03c 37%,
            #099ab4 63%
    );
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}