.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
}