.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 15px;
}
.moviesWrapper{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 24px;
}