.sort {
    position: relative;
    width: 220px;
}

.sortBtn {
    width: 100%;
    padding: 10px;
    background: #091b70;
    color: white;
    border: 1px solid #444;
    cursor: pointer;
}

.sortMenu {
    position: absolute;
    top: 100%;
    width: 100%;
    background: #0c2a93;
    border: 1px solid #444;
    z-index: 10;
}

.sortItem {
    padding: 10px;
    cursor: pointer;
    color: #ffffff;
    border-bottom: 1px solid #6979cc;
}

.sort-item:hover {
    background: #333;
}

.sort-item.active {
    background: #555;
}