.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}
.movieContent{
    padding-top: 30px;
    display: flex;
    gap: 30px;
}
.movieInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.movieTitle{
    font-size: 30px;
}
.movieMeta{
    display: flex;
    align-items: center;
    gap: 30px;
}
.genres{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.genresList{
    display: flex;
    gap: 20px;
}
.genresItem{
    list-style: none;
    background: #c0c4e1;
    padding: 5px 12px;
    border-radius: 3px;
}
.castBlock{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 24px;
}
.castTitle{
    margin-bottom: 20px;
}
.movie {
    display: flex;
    gap: 15px;
}
.movieImgWrapper{
    width: 300px;
    height: 450px;
    flex-shrink: 0;
}
.movieImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}
.rating{
    position: relative;
}
.backBtn{
    position: absolute;
    right: 30px;
    top: 30px;
    display: inline-block;
    border: 1px solid #040d42;
    color: var(--text-color);
    align-self: flex-end;
    padding: 5px 17px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color .3s;
    cursor: pointer;
}
.backBtn:hover{
    background: #040d42;
    color: #ffffff;
}
.skeleton {
    width: 300px;
    height: 450px;
    flex-shrink: 0;
    background: linear-gradient(
            100deg,
            #de1111 25%,
            #1fb03c 37%,
            #099ab4 63%
    );
    background-size: 150% 100%;
    animation: shimmer 1.4s ease infinite;
    border-radius: 4px;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* размеры */

.skeletonTitle {
    height: 45px;
    width: 70%;
}

.skeletonSubtitle {
    height: 36px;
    width: 120px;
}

.sceletonCastTitle{
    height: 20px;
    width: 300px;
    margin: 30px 0;
}

.skeletonMeta {
    height: 20px;
    width: 50%;
}

.skeletonText {
    height: 16px;
    width: 100%;
}

.skeletonTag {
    height: 34px;
    width: 90px;
}

.skeletonCard {
    height: 180px;
    width: 100%;
}