.resetFiltersBtn{
    display: inline-block;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #1c3794;
    align-self: flex-end;
    padding: 5px 17px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color .3s;
    margin: 0 auto;
    cursor: pointer;
    &:hover{
        background: #0c2a93;
    }
    &:active{
        background: #30458d;
    }
    &:disabled{
        background: #4c62ab;
        cursor: not-allowed;
    }
}