:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
    --text-color: #0c0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.dark {
    --bg-color: #080809;
    --text-color: #f5f5f5;
    --primary-color: #818cf8;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}