.sort {
    position: relative;
    width: 220px;
}

.sort-btn {
    width: 100%;
    padding: 10px;
    background: #222;
    color: white;
    border: 1px solid #444;
    cursor: pointer;
}

.sort-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    background: #111;
    border: 1px solid #444;
    z-index: 10;
}

.sort-item {
    padding: 10px;
    cursor: pointer;
}

.sort-item:hover {
    background: #333;
}

.sort-item.active {
    background: #555;
}