.loader{
    background: #23272f;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 5px;
}
.item{
    height: 100%;
    background: #ffffff;
    position: absolute;
}
@keyframes item1 {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes item2 {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}
.item1 {
    animation: item1 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.item2 {
    animation: item2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
